@import "../../../responsive.scss";
.info-form {
  height: fit-content;
  padding: 5px 5px;

  .form-input {
    margin: 5px 0;

    p {
      flex: 100%;
      font-size: 9px;
      color: red;
      margin-left: 70px;
      @include sm {
        margin-left: 0px;
      }
    }
    .inputs {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      @include sm {
        gap: 0;
      }
      label {
        flex: 15%;
        flex-grow: 0;
        font-size: 12px;
        font-weight: 600;
        color: rgb(137, 135, 135);
        @include sm {
          display: none;
        }
      }

      .input-container {
        @include sm {
          flex: 100%;
          width: 250px;
        }
        width: 350px;
        flex: 83%;
        display: flex;
        align-items: center;
        border: solid 1px crimson;
        margin-top: 5px;
        gap: 10px;
        height: 35px;
        padding: 5px 7px;
        border-radius: 7px;
        &:focus-within {
          box-shadow: 0px 0px 2px 0px crimson;
        }
        input {
          height: 95%;
          flex: 83%;
          padding: 0 5px;
          border: none;
          &:focus {
            outline: none;
          }
        }
      }
      select {
        height: 35px;
        flex: 83%;
        padding: 0 5px;
        border: 1px solid crimson;
        border-radius: 7px;
        padding: 5px 10px;
        &:focus {
          outline: none;
          box-shadow: 0px 0px 2px 0px crimson;
        }
      }
      .icon {
        color: crimson;
      }
    }
  }
  .btn-container {
    text-align: end;
    margin-top: 5px;
    button {
      padding: 10px 20px;
      font-size: 0.8em;
      background-color: crimson;
      color: white;
      border-radius: 7px;
      border: none;
      cursor: pointer;
      &:active {
        transform: scale(0.97);
      }
    }
  }
}
