@import "../../responsive.scss";

.page-container {
  height: 100vh;
  overflow-y: hidden;
  position: relative;
  .wrapper {
    width: 90vw;
    margin: auto;
    @include mobile {
      width: 100vw;
    }
    @include tablet {
      width: 100vw;
    }
    .page-card {
      height: calc(100vh - 45px);
      width: 100%;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
      border-radius: 7px;
    }
  }
}
